@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@layer components {
  .reactMarkDown ul {
    @apply p-4 list-disc;
  }
  .reactMarkDown li {
    @apply font-normal;
  }
  .reactMarkDown h1 {
    @apply font-semibold mt-4 mb-4;
  }
  .reactMarkDown h2 {
    @apply text-2xl font-semibold mt-4 mb-4;
  }
  .reactMarkDown p {
    @apply text-lg font-light mt-4 mb-4;
  }
}


